<nav class="menu">
    <ul>
        <li><a href="{{ path( 'app_home' )}}"> HOME </a></li>
        <li><a href="{{ path( 'app_participation_index' )}}"> participation </a></li>
        <li><a href="{{ path( 'app_person_index' )}}"> personne </a></li>
        <li><a href="{{ path( 'app_project_index' )}}"> projet </a></li>
    </ul>
</nav>

